@mixin tooltip-radius($top, $left) {
  @if ($top) {
    @if ($left) {
      border-top-right-radius: 0.2em;
    } @else {
      border-top-left-radius: 0.2em;
    }
    border-bottom-right-radius: 0.2em;
    border-bottom-left-radius: 0.2em;
  } @else {
    @if ($left) {
      border-bottom-right-radius: 0.2em;
    } @else {
      border-bottom-left-radius: 0.2em;
    }
    border-top-right-radius: 0.2em;
    border-top-left-radius: 0.2em;
  }
}
@mixin tooltip-arrow($top, $left, $size: 10px, $shadow-size: 0px) {
  content: "";
  position: absolute;
  @if ($left) {
    left: -$shadow-size;
    margin-left: -$size;
  } @else {
    right: -$shadow-size;
    margin-right: -$size;
  }
  @if ($top) {
    top: $size;
    margin-top: -$size;
  } @else {
    bottom: $size;
    margin-bottom: -$size;
  }
  width: 0;
  height: 0;
  border: $size solid transparent;
  z-index: 999999;
}
@mixin tooltip-arrow-tb($top, $left, $size: 10px, $shadow-size: 0px) {
  content: "";
  position: absolute;
  @if ($left) {
    left: $size;
    margin-left: -$size;
  } @else {
    right: $size;
    margin-right: -$size;
  }
  @if ($top) {
    top: -$shadow-size;
    margin-top: -$size;
  } @else {
    bottom: -$shadow-size;
    margin-bottom: -$size;
  }
  width: 0;
  height: 0;
  border: $size solid transparent;
  z-index: 999999;
}
