div.tooltip {
  color: "#333";
  position: absolute;
  text-align: left;
  padding: 0.5em;
  font: 0.5em;
  background: rgb(255, 255, 255);
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 0.5em;
  pointer-events: none;
  z-index: 999999;
}

svg text {
  cursor: default;
  user-select: none;
}

svg .label {
  font-weight: bold;
}

div .label {
  font-weight: bold;
}
