@import "src/styles/abstracts/mixin";

.moz-graph-root {
  width: var(--size-content-inner-width);
  height: var(--size-content-inner-height);
  position: relative;
  z-index: 1;

  @mixin navigator {
    position: absolute;
    border: 1px solid var(--color-border3);
    background: var(--color-back);
    z-index: 99999;
    width: 200px;
    height: 200px;
    opacity: 0.8;
    overflow: hidden;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.15);

    > img {
      max-width: 100%;
      max-height: 100%;
    }

    > canvas {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 101;
    }

    .cytoscape-navigatorView {
      position: absolute;
      top: 0;
      left: 0;
      cursor: move;
      background: var(--color-hover);
      z-index: 102;
    }

    .cytoscape-navigatorOverlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 103;
    }
  }

  .moz-graph-navigator-top {
    @include navigator;
    top: 0;
    right: 0;
  }

  .moz-graph-navigator {
    @include navigator;
    bottom: 0;
    right: 0;
  }

  .moz-graph-toolbar {
    @include flex-center-horizontal;
    position: absolute;
    border: 1px solid var(--color-border3);
    background-color: var(--color-back);
    z-index: 99999;
    width: auto;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0.8;
    overflow: hidden;
    padding: 2px 4px;
    .toolbar-btn {
      @include flex-center;
      &:not(:last-child) {
        margin-right: 2px;
      }
      min-width: var(--size-icon-button);
      height: var(--size-icon-button);
      border-radius: 2px;
      cursor: pointer;
      user-select: none;
      color: var(--color-font5);
      // box-shadow: 0px 2px 7px 1px var(--color-shadow2);
      &::before {
        font-family: "mozart-icons";
        font-size: var(--size-icon-font-size);
      }
      &:hover {
        background-color: var(--color-selected);
        color: var(--color-accent);
      }
      &.toolbar-btn-active {
        color: var(--color-accent);
        &:hover {
          background-color: var(--color-selected);
          color: var(--color-accent);
        }
      }
      &.toolbar-btn-zoomin::before {
        content: unicode("e12a");
      }
      &.toolbar-btn-zoomout::before {
        content: unicode("e128");
      }
      &.toolbar-btn-undo::before {
        content: unicode("e174");
      }
      &.toolbar-btn-redo::before {
        content: unicode("e176");
      }
      &.toolbar-btn-highlight::before {
        content: unicode("e171");
      }
      &.toolbar-btn-lasso::before {
        content: unicode("e170");
      }
      &.toolbar-btn-remove-highlight::before {
        content: unicode("e17c");
      }
      &.toolbar-btn-draw-grid::before {
        content: unicode("e17b");
      }
      &.toolbar-btn-move-node::before {
        content: unicode("e17a");
      }
      &.toolbar-btn-show-nav::before {
        content: unicode("e18b");
      }
      &.toolbar-btn-full-screen-nav::before {
        content: unicode("e114");
      }
      &.toolbar-btn-directionLR::before {
        content: unicode("e185");
      }
      &.toolbar-btn-directionBT::before {
        content: unicode("e186");
      }
      &.toolbar-btn-alignUL::before {
        content: unicode("e18a");
      }
      &.toolbar-btn-alignUR::before {
        content: unicode("e187");
      }
      &.toolbar-btn-alignDL::before {
        content: unicode("e189");
      }
      &.toolbar-btn-alignDR::before {
        content: unicode("e188");
      }
      &.toolbar-btn-refresh::before {
        content: unicode("e104");
      }
    }
  }
}

.fullscreen {
  background-color: var(--color-contentback);
  .moz-graph-root {
    width: var(--size-full-screen-width);
    height: var(--size-full-screen-height);
    .moz-graph-toolbar {
      .toolbar-btn {
        &.toolbar-btn-full-screen-nav::before {
          content: unicode("e115");
        }
      }
    }
  }
  .dx-overlay-wrapper {
    width: var(--size-full-screen-width) !important;
    height: var(--size-full-screen-height) !important;
    .dx-overlay-content {
      width: var(--size-full-screen-width) !important;
    }
  }
}

// context menu
.cy-context-menus-cxt-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  border: 0;
  padding: 0;
  margin: 0;
  width: auto;
  box-shadow: 0px 3px 8px #00000026;
}

.cy-context-menus-cxt-menuitem {
  display: block;
  width: 100%;
  padding: 3px 20px;
  position: relative;
  margin: 0;
  color: var(--color-font4);
  background-color: var(--color-back);
  font-weight: normal;
  font-size: 12px;
  white-space: nowrap;
  text-align: left;
  border: 1px solid transparent;
}

.cy-context-menus-cxt-menuitem:enabled {
  color: #000000;
}

.cy-context-menus-ctx-operation:focus {
  outline: none;
}

.cy-context-menus-cxt-menuitem:hover {
  text-decoration: none;
  border: 1px solid var(--color-accent);
  background-color: var(--color-accent1);
  color: var(--color-accent);
  background-image: none;
  cursor: pointer;
}

.cy-context-menus-cxt-menuitem[content]:before {
  content: attr(content);
}

.cy-context-menus-divider {
  border-bottom: 1px solid transparent;
}

.cy-context-menus-submenu-indicator {
  position: absolute;
  right: 2px;
  top: 50%;
  transform: translateY(-50%);
}
