@import "../mixin";

.nowrap-text {
  @include nowrap-text;
}

.dummy-text {
  position: absolute;
  visibility: hidden;
  left: -999px;
  top: -999px;
  height: auto;
}

.ime-en-only {
  input {
    ime-mode: disabled;
  }
}

.ime-en {
  input {
    ime-mode: inactive;
  }
}

.ime-ko {
  input {
    ime-mode: active;
  }
}

.ime-lower {
  input {
    text-transform: lowercase;
  }
}

.ime-upper {
  input {
    text-transform: uppercase;
  }
}
