[font="compact"] {
  /* Font */
  --font-size-heading01: 20px;
  --font-size-heading02: 17px;
  --font-size-heading03: 16px;
  --font-size-heading04: 13px;
  --font-size-body01: 13px;
  --font-size-body02: 12px;
  --font-size-body03: 11px;
  --font-size-body04: 11px;
  --font-size-button01: 11px;

  /* Top */
  --size-top-height: 52px;
  --size-control-height: 44px;
  --size-top-padding-right: 16px;

  /* Drawer */
  --size-drawer-category-height: 36px;
  --size-drawer-icon-font-size: 20px;

  /* Controller */
  --size-padding-2to1: 4px;
  --size-filter-height: 22px;

  /* Card */
  --size-card-title-height: 36px;
  --size-card-title-left-padding: 20px;
  --size-card-top-padding: 16px;
  --size-card-rbl-padding: 24px;
  --size-card-tab-height: 34px;

  /* Icon */
  --size-icon-button: 20px;
  --size-icon-font-size: 15px;
  --size-icon-controller-font-size: 16px;
  --size-icon-top-app: 24px;

  /* Button */
  --size-button-top-app: 30px;
  --size-button-control-size: 24px;
  --size-button-height: 24px;
  --size-button-width: 64px;

  /* Grid */
  --size-grid-header-height: 40px;
  --size-grid-row-height: 28px;
  --size-simple-item-height: 32px;
  --size-filelist-header-height: 28px;
  --size-filelist-item-height: 24px;
  --size-filter-row-height: 24px;
  --size-dropdown-button-left: 3px;
  --size-select-dropdown-left: 2px;
  --size-header-indicator-top: 12px;

  /* Padding */
  --size-icon-button-padding: 5px;
  --size-padding-3to2: 8px;
  --size-8to7: 28px;
  --size-6to5: 20px;

  /* Switch */
  --size-switch-handle: 11px;
  --left-switch-on: 33px;
  --left-switch-off: 38px;
  --handle-margin-top: 1px;
  --size-switch-handle-width: 100%;
  --size-switch-handle-left: 50%;

  /* List */
  --size-list-expand-icon-padding: -4px;
  --size-arrow-button-top: 1px;
  --size-arrow-button-left: -6px;
  --size-menu-item-height: 28px;

  /* Popup */
  --size-toolbar-bottom: 48px;

  /* Input */
  --size-dropdown-container: 24px;
  --size-arrow-btn: 16px;
  --size-checkbox: 16px;
  --size-input-height: 28px;
  --size-radio-container: 16px;
  --size-radio-dot: 8px;
  --radio-dot-margin-top: -12px;
  --radio-dot-margin-left: 4px;

  /* Form */
  --size-label-top-padding: 5px;

  /* Menu Location Top */
  --menu-location-top-top-height: 52px;
  --menu-location-top-menu-width: 142px;
  --menu-location-top-submenu-height: 28px;
  --menu-location-top-favorite-font-size: 20px;

  /* Menu Location TopAndLeft*/
  --menu-location-topandleft-left-item-height: 28px;

  /* LMS */
  --height-table-row: 55px;
}
