$colors-dark: (
  primary: #1e2639,
  primary50: #e8ebf0,
  primary100: #c4cedc,
  primary200: #9faec5,
  primary300: #7b8eac,
  primary400: #5e769c,
  primary500: #415e8d,
  primary600: #3a5685,
  primary700: #314d79,
  primary800: #2b436c,
  secondary: #2a3346,
  accent: #00bfc0,
  accent1: #1d2943,
  accent2: #232d43,
  back: #2a3346,
  back-reverse: #ffffff,
  backdark1: #283043,
  backdark2: #1e2639,
  backdark3: #3a4357,
  border1: #3a4357,
  border2: #4c5569,
  border3: #5f687c,
  hover: #232d43,
  selected: #1d2943,
  error: #e05a69,
  info: #2488eb,
  success: #00bfc0,
  warning: #f2af44,
  font1: #dee4ef,
  font-1-reverse: #233253,
  font2: #c6cfdb,
  font3: #a1acbf,
  font4: #8b96a8,
  font5: #737c8e,
  font6: #4c5569,
  font7: #9ca9c7,
  font-white: #fff,
  drawer-font: #fff,
  drawer-selected-menu-font: #fff,
  drawer-selected-category-font: #555,
  icon-text: #828b9a,
  icon-back: #3a4357,
  icon-disabled-back: #2a3346,
  icon-disabled-text: #3c4558,
  shadow: #00000055,
  shadow2: #00000035,
  contents: #272727,
  top-menu-arrow-back: #4c5569,
);

[theme="dark"] {
  @include generate_colors($colors-dark);
}
