:root {
  /* Radius */
  --border-checkbox: 2px;
  --border-radius: 5px;
  --border-radius-outer: 9px;

  /* Border */
  --border-outer: none;
  --border-inner: none;

  /* Shadow */
  --shadow-top-bar: 0px 5px 8px rgb(0 0 0 / 7%);
  --shadow-side-bar: 2px 0px 5px rgb(0 0 0 / 20%);

  /* Padding */
  --size-padding1: 4px;
  --size-padding2: 6px;
  --size-padding3: 8px;
  --size-padding4: 10px;
  --size-padding5: 12px;
  --size-padding6: 14px;
  --size-padding7: 16px;
  --size-padding8: 20px;
  --size-padding9: 26px;
  --size-padding10: 44px;
}
