/**
 * light theme 컬러 설정 파일
 *
 * ex)
 * primary: #0e1e40;
 * ↓
 * --color-primary: #0e1e40;
 * --color-primary-rgb: 14, 30, 64;
 * --color-primary-r: 14;
 * --color-primary-g: 30;
 * --color-primary-b: 64;
 */
$colors-light: (
  accent: #4568e0,
  // ↑ 메인 색상
  hover: #4568e01a,
  // ↑ 호버 색상
  selected: #4568e017,
  // ↑ 선택 색상
  background: #fff,
  // ↑ 기본 배경 색상
  top-menu-border: #e2e1ee,
  // ↑ 탑 메뉴 외각선 색상
  top-menu-font-normal: #6a7184,
  // ↑ 탑 메뉴 기본 글자 색상
  drawer-backgournd-selcted: #26314d,
  // ↑ LNB 선택된 배경 색상
  drawer-background: #1b2337,
  // ↑ LNB 배경 색상
  drawer-font-selected: #ebeef8,
  // ↑ LNB 강조 글자 색상
  drawer-font-normal: #b6b7c1,
  // ↑ LNB 기본 글자 색상
  controller-title-font-normal: #6a7184,
  // ↑ Controller title 영역 기본 글자 색상
  controller-background: transparent,
  // ↑ Controller 배경 색상
  controller-title-button-background: #e3e3ea,
  // ↑ Controller title 영역 버튼 호버시 배경 색상
  controller-button-spacer-background: #bac6d4,
  // ↑ Controller actions 버튼과 filter 버튼 사이 spacer 배경 색상
  filter-background: #f4f4f7,
  // 검색 영역 배경 색상
  filter-border: #e3e3ea,
  // 검색 영역 외각선 색상
  font-accent-background: #ffffff,
  // ↑ accent 색상이 배경으로 깔릴때 글자 색상
  font-background: #28364e,
  // ↑ background 색상이 배경으로 깔릴때 글자 색상
  button-disabled-background: #e0e1ec,
  // ↑ 버튼 비활성화 시 배경 색상
  font-button-disabled: #a7b1bc,
  // ↑ 버튼 비활성화 시 글자 색상
  grid-border: #e3e3ea,
  // 그리드 외각선 색상
  grid-header-background: #eaebf3,
  // 그리드 헤더 배경 색상
  grid-header-selected: #d3d5e5,
  // 그리드 선택시 헤더 강조 색상
  grid-header-border: #d5d5db,
  // 그리드 헤더에서 사용하는 border 색상 (셀 영역은 border2)
  grid-header-font: #6a7184,
  // 그리드 헤더 폰트 색상
  grid-font: #28364e,
  // 검색 인풋, 그리드 기본 폰트 색상
  grid-hover: #e2e7fa,
  // 그리드 row hover시 색상
  grid-added: transparent,
  // 그리드 추가된 셀
  grid-updated: #45e0c026,
  // 그리드 수정된 셀
  input-border: #bac6d4,
  // input 외각선 색상
  primary: #0e1e40,
  primary50: #e8ebf0,
  primary100: #c4cedc,
  primary200: #9faec5,
  primary300: #7b8eac,
  primary400: #5e769c,
  primary500: #415e8d,
  primary600: #3a5685,
  primary700: #314d79,
  primary800: #2b436c,
  secondary: #233253,
  accent1: #e4f7f7,
  accent2: #f4ffff,
  back: #ffffff,
  back-reverse: #2a3346,
  backdark1: #f4f5f7,
  backdark2: #eceef2,
  backdark3: #e1e4ea,
  border1: #eceef2,
  border2: #e1e4ea,
  border3: #c6ced8,
  error: #e05a69,
  info: #2488eb,
  success: #00bfc0,
  warning: #f2af44,
  font1: #233253,
  font-1-reverse: #dee4ef,
  font2: #424c5f,
  font3: #565f6e,
  font4: #7c828e,
  font5: #999faa,
  font6: #b4b9c1,
  font7: #bfc7db,
  font-white: #fff,
  drawer-font: #fff,
  drawer-selected-menu-font: #fff,
  drawer-selected-category-font: #555,
  icon-text: #8998b5,
  icon-back: #fff,
  icon-disabled-back: #f5f6f8,
  icon-disabled-text: #d0d2db,
  shadow: #00000030,
  shadow2: #00000010,
  contents: #eee,
  top-menu-arrow-back: #5f687c,
);

:root,
[theme="light"] {
  @include generate_colors($colors-light);
}
