/**
 * light theme 컬러 설정 파일
 *
 * ex)
 * primary: #0e1e40;
 * ↓
 * --color-primary: #0e1e40;
 * --color-primary-rgb: 14, 30, 64;
 * --color-primary-r: 14;
 * --color-primary-g: 30;
 * --color-primary-b: 64;
 */
$colors-light: (
  accent: #4568e0,
  // 메인 색상
  hover: #4568e01a,
  // 호버 색상
  selected: #4568e017,
  // 선택 색상
  background: #fff,
  // 기본 배경 색상
  menu-border: #e2e1ee,
  // 메뉴 외각선 색상
  primary: #0e1e40,
  primary50: #e8ebf0,
  primary100: #c4cedc,
  primary200: #9faec5,
  primary300: #7b8eac,
  primary400: #5e769c,
  primary500: #415e8d,
  primary600: #3a5685,
  primary700: #314d79,
  primary800: #2b436c,
  secondary: #233253,
  accent1: #e4f7f7,
  accent2: #f4ffff,
  back: #ffffff,
  back-reverse: #2a3346,
  backdark1: #f4f5f7,
  backdark2: #eceef2,
  backdark3: #e1e4ea,
  border1: #eceef2,
  border2: #e1e4ea,
  border3: #c6ced8,
  error: #e05a69,
  info: #2488eb,
  success: #00bfc0,
  warning: #f2af44,
  font1: #233253,
  font-1-reverse: #dee4ef,
  font2: #424c5f,
  font3: #565f6e,
  font4: #7c828e,
  font5: #999faa,
  font6: #b4b9c1,
  font7: #bfc7db,
  font-white: #fff,
  drawer-font: #fff,
  drawer-selected-menu-font: #fff,
  drawer-selected-category-font: #555,
  icon-text: #828b9a,
  icon-back: #fff,
  icon-disabled-back: #f5f6f8,
  icon-disabled-text: #d0d2db,
  shadow: #00000030,
  shadow2: #00000010,
  contents: #eee,
  top-menu-arrow-back: #5f687c,
);

:root,
[theme="light"] {
  @include generate_colors($colors-light);
}
