@import "~mozart-component-wijmo/src/fonts/mozart-icons.sass";
@import "~mozart-component-wijmo/src/styles/index.scss";
@import "custom";

.moz-gantt-header-sun {
  color: red;
}

.moz-gantt-header-sat {
  color: blue;
}

.moz-gantt-header-apr {
  background-color: rgba(green, 0.1);
}
