@import "../mixin";

.moz-tabs {
  &.dx-tabs {
    border: none;
    height: inherit;

    .dx-tabs-wrapper {
      padding-left: var(--size-card-title-left-padding);
      height: inherit;
      display: flex;
      align-items: flex-end;

      .dx-tab {
        display: inline-block;
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        margin-right: 4px;
        background-color: var(--color-backdark2);

        // bold에 따라서 폭이 변하지 않도록 해준다.
        &::before {
          display: block;
          content: attr(data-title);
          font-weight: 700;
          height: 0;
          overflow: hidden;
          visibility: hidden;
        }

        &.dx-state-hover {
          font-weight: 700;
        }

        &.dx-tab-selected {
          color: var(--color-accent);
          transform: translateY(1px);
          background-color: var(--color-back);
          &::after {
            content: none;
          }
        }
      }
    }
  }
}

.moz-card-tabs {
  border: none;
  .dx-tabs-wrapper {
    @include flex-center-horizontal;
    .dx-tab {
      @include flex-center-horizontal-start;
      width: 100%;
      padding: 0px;
      height: var(--size-grid-header-height);
      padding-left: var(--size-card-title-left-padding);
      background-color: var(--color-back);
      border-bottom: 1px solid var(--color-border2);
      &:not(:last-child) {
        border-right: 1px solid var(--color-border2);
      }
      &.dx-tab-selected {
        background-color: var(--color-back);
        border-bottom: none;
        font-weight: bold;
        &::after {
          border: none;
        }
      }
      &.dx-state-focused::after {
        border: none;
      }
    }
  }

  &.moz-card-tabs-close {
    .dx-tabs-wrapper {
      .dx-tab {
        background-color: var(--color-commonheader);
        &.dx-tab-selected {
          background-color: var(--color-back);
          border-bottom: 1px solid var(--color-border2);
        }
      }
    }
  }
}

@mixin moz-layout-tabs {
  $top-padding: 6px;
  @include flex-end-horizontal;
  border: none;
  background-color: var(--color-backdark3);
  padding-top: $top-padding;
  height: var(--size-card-title-height);
  -webkit-box-shadow: none;
  box-shadow: none;
  // box-shadow: inset 0 -1px 0 rgba(var(--color-font5-r), var(--color-font5-g), var(--color-font5-b), 0.3);
  .dx-tabs-wrapper {
    @include flex-center-horizontal;
    .dx-tab {
      @include flex-center;
      transform: translate(0px, -1px);
      margin-right: 6px;
      width: 200px;
      padding: 0;
      height: calc(
        var(--size-card-title-height) - $top-padding - 1px
      ); // 높이를 맞추기 위해 boder height를 추가로 빼준다.
      background-color: var(--color-border3);
      border: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: var(--color-font2);
      .dx-tab-content {
        @include flex-center;
        .dx-tab-text {
          @include flex-center;
          @include nowrap-text;
        }
      }
      &.dx-tab-selected {
        transform: translate(0px, 0px);
        height: calc(var(--size-card-title-height) - $top-padding);
        background-color: var(--color-contentback);
        .dx-tab-content {
          .dx-tab-text {
            color: var(--color-font1);
          }
        }
        border: none;
        font-weight: bold;
      }
      &.dx-state-hover {
        background-color: var(--color-hover);
        .dx-tab-text {
          color: var(--color-accent);
        }
      }
      &.dx-state-focused::after {
        border: none;
      }
    }
  }
}

.moz-card-tabs-colored {
  @include moz-layout-tabs;
  // border: none;
  .dx-tabs-wrapper {
    //   @include flex-center-horizontal;
    //   background-color: var(--color-border1);
    .dx-tab {
      //     @include flex-center;
      width: auto;
      //     height: var(--size-card-tab-height);
      padding: 0 var(--size-card-title-left-padding);
      //     border: none;
      //     background-color: var(--color-border1);
      //     .dx-tab-content {
      //       @include flex-center;
      //       .dx-tab-text {
      //         @include flex-center;
      //       }
      //     }
      //     &.dx-state-hover {
      //       background-color: var(--color-hover);
      //       .dx-tab-text {
      //         color: var(--color-accent);
      //       }
      //     }
      &.dx-tab-selected {
        //       border: none;
        background-color: var(--color-back);
        //       border-bottom: none;
        //       font-weight: bold;
        //       &::after {
        //         border: none;
        //       }
      }
      //     // &.dx-state-focused::after {
      //     //   border: none;
      //     // }
    }
  }
  // .dx-tabpanel {
  //   .dx-multiview-wrapper {
  //     border: none;
  //   }
  // }
}

.moz-popup-tabs-colored {
  .dx-tabpanel-tabs {
    .dx-tabs {
      @include moz-layout-tabs;
      .dx-tabs-wrapper {
        .dx-tab {
          width: auto;
          padding: 0 var(--size-card-title-left-padding);
          &.dx-tab-selected {
            background-color: var(--color-back);
          }
        }
      }
    }
  }
  .dx-tabpanel {
    .dx-multiview-wrapper {
      border: none;
    }
  }
}

.moz-tabs-card {
  .moz-edit-datagrid {
    .dx-datagrid-headers {
      .dx-header-row {
        td {
          background-color: transparent;
          font-weight: bold;
        }
      }
      &.dx-datagrid-nowrap {
        .dx-datagrid-content {
          border-top: none;
          border-left: none;
          border-right: none;
        }
      }
    }
    .dx-datagrid-rowsview {
      border: none;
      border-top: 1px solid var(--color-border2);
      .dx-row {
        td:first-child {
          &.dx-datagrid-group-space {
            padding-left: var(--size-cell-padding);
          }
        }
      }
      .dx-datagrid-table {
        .dx-row.dx-group-row:not(.dx-row-focused) {
          background-color: var(--color-secondary);
        }
      }
    }
    .dx-datagrid-total-footer {
      .dx-datagrid-content {
        border: none;
      }
    }
  }
}

.moz-layout-tabs {
  @include moz-layout-tabs;
}
