@import "../mixin";
@import "../function";

.dx-button {
  overflow: hidden;
  border-radius: var(--border-radius);

  .dx-icon {
    @include flex-center;
  }
  /*
  .dx-button-content {
    padding: 0px; //var(--size-icon-button-padding) !important;
  }*/
  &.dx-button-default:not(.dx-state-disabled) {
    .dx-button-content {
      color: var(--color-font-white);
      .dx-button-text {
        color: var(--color-font-white);
      }
    }
  }
}

.dx-button-mode-text {
  background-color: transparent;

  .dx-icon::before {
    color: var(--color-font5);
  }

  &.dx-state-focused {
    background-color: transparent;
    .dx-icon {
      &::before {
        color: var(--color-font5);
      }
    }
  }

  &.dx-state-hover {
    background-color: transparent;
    .dx-icon {
      &::before {
        color: var(--color-accent);
      }
    }
    .dx-button-text {
      color: var(--color-accent);
    }
  }
}

.dx-button-mode-contained {
  background-color: var(--color-icon-back);
  border: none;

  .dx-icon::before {
    color: var(--color-icon-text);
  }

  &.dx-state-focused {
    background-color: var(--color-icon-back);
    .dx-icon {
      &::before {
        color: var(--color-icon-text);
      }
    }
    .dx-button-text {
      color: var(--color-font-white);
    }
  }

  &.dx-state-hover,
  &.dx-state-active {
    background-color: var(--color-accent);

    .dx-button-text {
      color: var(--color-font-white);
    }
    .dx-icon {
      &::before {
        color: var(--color-font-white);
      }
    }
  }

  &.dx-button-default {
    background-color: var(--color-accent);
    &.dx-state-hover {
      background: mixb(var(--color-accent), 0.2);
    }
    &.dx-state-active {
      background: mixb(var(--color-accent), 0.4);
    }
    .dx-icon::before {
      color: var(--color-font-white);
    }
    &.dx-state-focused {
      background-color: var(--color-accent);
    }
  }
}

.dx-button-mode-outlined {
  background-color: var(--color-back);

  &.dx-state-hover,
  &.dx-state-focused {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-font-white);

    .dx-button-content {
      background-color: var(--color-accent);
      .dx-icon::before {
        color: var(--color-font-white);
      }
    }
  }
}
