@import "../mixin";
@import "../function";

.dx-icon {
  color: var(--color-icon-text);
  @include flex-center;

  &.dx-icon-refresh::before {
    @include moz-icon;
    content: unicode("e104");
  }

  &.dx-icon-plus::before {
    @include moz-icon;
    content: unicode("e112");
  }

  &.dx-icon-close::before {
    @include moz-icon;
    content: unicode("e113");
  }

  &.dx-icon-filter::before {
    @include moz-icon;
    content: unicode("e103");
  }

  &.dx-icon-save::before {
    @include moz-icon;
    content: unicode("e105");
  }

  &.dx-icon-trash::before {
    @include moz-icon;
    content: unicode("e117");
  }

  &.dx-icon-fill-trash::before {
    @include moz-icon;
    content: unicode("e165");
  }

  &.dx-icon-edit::before {
    @include moz-icon;
    content: unicode("e119");
  }

  &.dx-icon-copy::before {
    @include moz-icon;
    content: unicode("e161");
  }

  &.dx-icon-fill-pencil::before {
    @include moz-icon;
    content: unicode("e164");
  }

  &.dx-icon-fill-copy::before {
    @include moz-icon;
    content: unicode("e162");
  }

  &.dx-icon-menu::before {
    @include moz-icon;
    content: unicode("e110");
  }

  &.dx-icon-swap::before {
    @include moz-icon;
    content: unicode("e116");
  }

  &.dx-icon-history::before {
    @include moz-icon;
    content: unicode("e123");
  }

  &.dx-icon-cancel::before {
    @include moz-icon;
    content: unicode("e166");
  }

  &.dx-icon-up::before {
    @include moz-icon;
    content: unicode("e124");
  }

  &.dx-icon-down::before {
    @include moz-icon;
    content: unicode("e125");
  }

  &.dx-icon-edit-button-save::before {
    @include moz-icon;
    content: unicode("e105");
  }
  &.dx-icon-edit-button-addrow::before {
    @include moz-icon;
    content: unicode("e112");
  }
  &.dx-icon-edit-button-cancel::before {
    @include moz-icon;
    content: unicode("e101");
  }
  &.dx-icon-export-excel-button::before {
    @include moz-icon;
    content: unicode("e118");
  }
  &.dx-icon-apply::before {
    @include moz-icon;
    content: unicode("e12c");
  }
  &.dx-icon-download::before {
    @include moz-icon;
    content: unicode("e118");
  }
  &.dx-icon-upload::before {
    @include moz-icon;
    content: unicode("e107");
  }
  &.dx-icon-read-desc::before {
    @include moz-icon;
    content: unicode("e10a");
  }
  &.dx-icon-read-asc::before {
    @include moz-icon;
    content: unicode("e10f");
  }
  &.dx-icon-play-empty::before {
    @include moz-icon;
    content: unicode("e12e");
  }
  &.dx-icon-link::before {
    @include moz-icon;
    content: unicode("e12d");
  }
  &.dx-icon-column-chooser::before {
    @include moz-icon;
    content: unicode("e102");
  }
  &.dx-icon-add-folder::before {
    @include moz-icon;
    content: unicode("e133");
  }
  &.dx-icon-assembly::before {
    @include moz-icon;
    content: unicode("e130");
  }
  &.dx-icon-namespace::before {
    @include moz-icon;
    content: unicode("e131");
  }
  &.dx-icon-class::before {
    @include moz-icon;
    content: unicode("e132");
  }
  &.dx-icon-play::before {
    @include moz-icon;
    content: unicode("e142");
  }
  &.dx-icon-stop::before {
    @include moz-icon;
    content: unicode("e11b");
  }
  &.dx-icon-stop2::before {
    @include moz-icon;
    content: unicode("e166");
  }
  &.dx-icon-pause::before {
    @include moz-icon;
    content: unicode("e167");
  }
  &.dx-icon-startall::before {
    @include moz-icon;
    content: unicode("e168");
  }
  &.dx-icon-xlsxfile::before {
    @include moz-icon;
    content: unicode("e118");
  }
  &.dx-icon-import::before {
    @include moz-icon;
    content: unicode("e13d");
  }
  &.dx-icon-pdf::before {
    @include moz-icon;
    content: unicode("e156");
  }
  &.dx-icon-xlsx::before {
    @include moz-icon;
    content: unicode("e15c");
  }
  &.dx-icon-new-tab::before {
    @include moz-icon;
    content: unicode("e157");
  }
  &.dx-icon-auth::before {
    @include moz-icon;
    content: unicode("e15b");
  }
  &.dx-icon-project::before {
    @include moz-icon;
    content: unicode("e159");
  }
  &.dx-icon-server::before {
    @include moz-icon;
    content: unicode("e158");
  }
  &.dx-icon-home::before {
    @include moz-icon;
    content: unicode("e15a");
  }
  &.dx-icon-chart::before {
    @include moz-icon;
    content: unicode("e15d");
  }
  &.dx-icon-search::before {
    @include moz-icon;
    content: unicode("e106");
  }
  &.dx-icon-history::before {
    @include moz-icon;
    content: unicode("e134");
  }
  &.dx-icon-pencil::before {
    @include moz-icon;
    content: unicode("e163");
  }
  &.dx-icon-expand::before {
    @include moz-icon;
    content: unicode("e114");
  }
  &.dx-icon-expand-tab::before {
    @include moz-icon;
    content: unicode("e115");
  }
  &.dx-icon-lasso::before {
    @include moz-icon;
    content: unicode("e170");
  }
  &.dx-icon-highlight::before {
    @include moz-icon;
    content: unicode("e171");
  }
  &.dx-icon-fill-highlight::before {
    @include moz-icon;
    content: unicode("e172");
  }
  &.dx-icon-fill-undo::before {
    @include moz-icon;
    content: unicode("e173");
  }
  &.dx-icon-undo::before {
    @include moz-icon;
    content: unicode("e174");
  }
  &.dx-icon-fill-redo::before {
    @include moz-icon;
    content: unicode("e175");
  }
  &.dx-icon-redo::before {
    @include moz-icon;
    content: unicode("e176");
  }
  &.dx-icon-success::before {
    @include moz-icon;
    content: unicode("e16c");
    padding: 0px 4px;
    font-size: 30px;
    color: var(--color-success);
  }
  &.dx-icon-info::before {
    @include moz-icon;
    content: unicode("e16d");
    padding: 0px 4px;
    font-size: 30px;
    color: var(--color-info);
  }
  &.dx-icon-error::before {
    @include moz-icon;
    content: unicode("e16e");
    padding: 0px 4px;
    font-size: 30px;
    color: var(--color-error);
  }
  &.dx-icon-warning::before {
    @include moz-icon;
    content: unicode("e16f");
    padding: 0px 4px;
    font-size: 30px;
    color: var(--color-warning);
  }
  &.dx-icon-folder::before {
    @include moz-icon;
    content: unicode("e127");
  }
  &.dx-icon-file::before {
    @include moz-icon;
    content: unicode("e11e");
  }
  &.dx-icon-newfolder::before {
    @include moz-icon;
    content: unicode("e12f");
  }
  &.dx-icon-doc::before {
    @include moz-icon;
    content: unicode("e11e");
  }
  &.dx-icon-back::before {
    @include moz-icon;
    content: unicode("e17d");
  }
  &.dx-icon-reset::before {
    @include moz-icon;
    content: unicode("e178");
  }
  &.dx-icon-setting::before {
    @include moz-icon;
    content: unicode("e182");
  }
  &.dx-icon-move::before {
    @include moz-icon;
    content: unicode("e13d");
  }
  &.dx-icon-verify::before {
    @include moz-icon;
    content: unicode("e18c");
  }
  &.dx-icon-rename::before {
    @include moz-icon;
    content: unicode("e1bc");
  }
  &.dx-icon-image::before {
    @include moz-icon;
    content: unicode("e120");
  }
  &.dx-icon-movetofolder::before {
    @include moz-icon;
    content: unicode("e1b9");
  }
  &.dx-icon-parentfolder::before {
    @include moz-icon;
    content: unicode("e1ba");
    &.dx-icon-filter-operation-contains::before {
      @include moz-icon;
      content: unicode("e1a9");
    }
    &.dx-icon-filter-operation-not-contains::before {
      @include moz-icon;
      content: unicode("e1aa");
    }
    &.dx-icon-filter-operation-starts-with::before {
      @include moz-icon;
      content: unicode("e1ab");
    }
    &.dx-icon-filter-operation-ends-with::before {
      @include moz-icon;
      content: unicode("e1ac");
    }
    &.dx-icon-filter-operation-equals::before {
      @include moz-icon;
      content: unicode("e1a2");
    }
    &.dx-icon-filter-operation-not-equals::before {
      @include moz-icon;
      content: unicode("e1a3");
    }
    &.dx-icon-filter-operation-less::before {
      @include moz-icon;
      content: unicode("e1a4");
    }
    &.dx-icon-filter-operation-greater::before {
      @include moz-icon;
      content: unicode("e1a5");
    }
    &.dx-icon-filter-operation-less-equal::before {
      @include moz-icon;
      content: unicode("e1a6");
    }
    &.dx-icon-filter-operation-greater-equal::before {
      @include moz-icon;
      content: unicode("e1a7");
    }
    &.dx-icon-filter-operation-between::before {
      @include moz-icon;
      content: unicode("e1a8");
    }
    &.dx-icon-filter-operation-default::before {
      @include moz-icon;
      content: unicode("e106");
    }
  }
  &.dx-icon-spinnext::before {
    @include moz-icon;
    content: unicode("e10e");
    font-size: 24px;
    margin-left: -6px;
  }
  &.dx-icon-txtfile::before {
    @include moz-icon;
    content: unicode("e1be");
  }
}
