@import "../function";
@import "../mixin";

.dx-texteditor-container {
  background: var(--color-back);
}

.dx-texteditor-input:not(textarea) {
  color: var(--color-font3);
  border-radius: var(--border-radius);
  min-height: calc(var(--size-grid-row-height) - 2px);
  padding: 0px var(--size-padding2);
}

textarea {
  &.dx-texteditor-input {
    padding: var(--size-cell-padding);
  }
}

.dx-texteditor {
  &.dx-editor-outlined {
    &:not(.dx-state-readonly):hover {
      border-color: var(--color-accent);
    }
  }
}

.dx-texteditor {
  &.dx-state-hover,
  &.dx-state-active {
    .dx-dropdowneditor-button {
      .dx-button-content {
        .dx-dropdowneditor-icon {
          background-color: transparent;

          &::before {
            color: var(--color-accent);
          }
        }
      }
    }
  }
}

.dx-dropdownbox,
.dx-selectbox {
  &.dx-state-hover,
  &.dx-state-active {
    .dx-dropdowneditor-button {
      .dx-button-content {
        .dx-dropdowneditor-icon {
          border-radius: var(--border-radius);
          background-color: var(--color-accent);

          &::before {
            color: var(--color-font-white);
          }
        }
      }
    }
  }
}

.dx-dropdownbox,
.dx-selectbox {
  &.dx-dropdowneditor {
    &.dx-dropdowneditor-active {
      .dx-dropdowneditor-icon {
        background-color: var(--color-accent);
        &::before {
          color: var(--color-font-white);
        }
      }
    }
  }
  .dx-selectbox-container {
    width: 100%;
    width: -webkit-fill-available;
  }
}

.dx-selectbox-popup-wrapper {
  .dx-list {
    background-color: var(--color-back);
    .dx-list-group-header {
      border-top: 1px solid var(--color-border2);
      border-bottom: 1px solid var(--color-border2);
    }
    .dx-list-item-content {
      padding: var(--size-padding-2to1) 0px;
      @include flex-center-horizontal;
    }
  }
}

.dx-textbox {
  .dx-texteditor-container {
    .dx-texteditor-input-container {
      .dx-texteditor-input {
        width: 100%;
      }
      .dx-icon::before {
        color: var(--color-font6);
      }
      .dx-placeholder {
        color: var(--color-font6);
      }
    }
  }
}

.dx-datebox {
  &.dx-dropdowneditor.dx-dropdowneditor-active {
    .dx-dropdowneditor-icon {
      font-size: 28px;
      background-color: transparent;
    }
  }

  &.dx-datebox-date {
    .dx-texteditor-buttons-container {
      .dx-dropdowneditor-icon {
        &::before {
          font-family: "mozart-icons";
          content: unicode("e133");
          font-size: var(--size-icon-font-size);
          color: var(--color-font5);
        }
        &:hover::before {
          content: unicode("e13e");
          color: var(--color-accent);
        }
      }
    }
  }
  &.dx-datebox-time {
    .dx-texteditor-buttons-container {
      .dx-dropdowneditor-icon {
        &::before {
          font-family: "mozart-icons";
          content: unicode("e134");
          font-size: var(--size-icon-font-size);
          color: var(--color-font5);
        }
      }
    }
  }
  &.dx-datebox-datetime {
    .dx-texteditor-buttons-container {
      .dx-dropdowneditor-icon {
        &::before {
          font-family: "mozart-icons";
          content: unicode("e11c");
          font-size: var(--size-icon-font-size);
          color: var(--color-font5);
        }
      }
    }
  }
}

.dx-tagbox {
  .dx-tag {
    .dx-tag-content {
      background-color: var(--color-backdark2);
      color: var(--color-font3);
      &:hover {
        background-color: var(--color-hover);
      }
      .dx-tag-remove-button {
        &::before {
          position: static;
          font-family: "mozart-icons";
          content: unicode("e155");
          font-size: var(--size-font-button01);
          vertical-align: middle;
          color: var(--color-font6);
          left: 5px;
          margin-left: 0;
          transform: none;
          background: transparent;
        }
        &::after {
          content: none;
        }
      }
    }
  }
  &:not(.dx-texteditor-empty) {
    .dx-selectbox-container {
      .dx-texteditor-container {
        .dx-tag-container {
          .dx-texteditor-input {
            display: none;
          }
        }
      }
    }
  }
}

.dx-texteditor {
  &.dx-editor-outlined {
    background: transparent;
  }
  &.dx-texteditor-input {
    color: var(--color-font4);
    border-radius: var(--border-radius);
    padding-left: var(--size-padding3);
  }
  .dx-placeholder {
    // left: var(--size-padding2);
    &::before {
      padding: 0px;
      padding-left: var(--size-padding2);
    }
  }
  .dx-texteditor-container {
    border-radius: var(--border-radius);
    .dx-texteditor-buttons-container {
      background-color: var(--color-back);
      .dx-icon-clear {
        &::before {
          content: unicode("e113");
          font-family: "mozart-icons";
        }
      }
    }
  }

  &.dx-editor-outlined {
    border: 1px solid var(--color-border2);
    border-radius: var(--border-radius);
  }
  &.dx-state-readonly {
    background-color: var(--color-backdark1);
  }
  &.dx-state-disabled {
    .dx-texteditor-container {
      .dx-texteditor-input {
        background-color: var(--color-backdark3);
      }
      .dx-texteditor-buttons-container {
        background-color: var(--color-backdark3);
      }
    }
  }
}

.dx-dropdowneditor-button {
  width: 32px;
  min-width: 32px;
  padding: 0px;
  padding-right: var(--size-cell-padding);

  .dx-button-content {
    @include flex-center-horizontal-end;
    .dx-dropdowneditor-icon {
      @include flex-center;
      width: var(--size-arrow-btn);
      height: var(--size-arrow-btn);
      border-radius: var(--border-radius);

      &::before {
        content: unicode("e10d");
        font-family: "mozart-icons";
        font-size: 28px;
        color: var(--color-font5);
        position: relative;
        display: unset;
        width: unset;
        top: unset;
        left: unset;
        margin: unset;
      }
    }
  }
}

.dx-tagbox-popup-wrapper {
  .dx-list-item {
    .dx-list-item-before-bag {
      vertical-align: inherit;
    }
  }
  .dx-list-select-all {
    padding: var(--size-padding-2to1) 0px;
    @include flex-center-horizontal;
  }
}

.dx-show-clear-button {
  .dx-icon-clear {
    color: var(--color-font5);
  }
}

.dx-numberbox {
  .dx-numberbox-spin-container {
    width: var(--size-arrow-btn);
    .dx-numberbox-spin-button {
      margin-right: var(--size-padding1);
      .dx-numberbox-spin-up-icon {
        border-radius: var(--border-radius);
        &::before {
          font-family: "mozart-icons";
          color: var(--color-font5);
          font-size: 28px;
          content: unicode("e13a");
          display: flex;
          -webkit-box-pack: center;
          -moz-box-justify-content: center;
          justify-content: center;
          -moz-align-items: center;
          align-items: center;
          width: var(--size-arrow-btn);
        }
      }
      .dx-numberbox-spin-down-icon {
        border-radius: var(--border-radius);
        &::before {
          font-family: "mozart-icons";
          color: var(--color-font5);
          font-size: 28px;
          content: unicode("e10d");
          display: flex;
          -webkit-box-pack: center;
          -moz-box-justify-content: center;
          justify-content: center;
          -moz-align-items: center;
          align-items: center;
          width: var(--size-arrow-btn);
        }
      }
      &.dx-state-hover {
        .dx-numberbox-spin-up-icon {
          background-color: var(--color-accent);
          &::before {
            color: var(--color-font-white);
          }
        }
        .dx-numberbox-spin-down-icon {
          background-color: var(--color-accent);
          &::before {
            color: var(--color-font-white);
          }
        }
      }
    }
  }
}
